language: node_js
node_js:
- '0.12'
- '0.11'
- '0.10'
notifications:
  email:
    recipients:
    - neraliu@yahoo-inc.com
  on_success: change
  on_failure: always
after_success:
- test $(cat $TRAVIS_BUILD_DIR/package.json | grep version | awk '{print $2}' | sed
  's/"//g' | sed 's/,//g' | awk '{print "v"$1}' ) = $TRAVIS_TAG && export VALID_VERSION=true
deploy:
  provider: npm
  email: neraliu@yahoo-inc.com
  api_key:
    secure: nFmhSBw4QGJOekbRufLfTUGwiQ5ML4Z1MBqJrPcbDu++WpSO2EliVH+ciQB0Ub6ebKGG4gP8ooUCF+yORTGOFM8sC4NTTsP6AkLszMeWm4YDGuEJH0Eo3CUM3RjdoZ2R81rQXYAf41hlEGG7We2+bQuAw1qDcEQ5iVjVvEe3MFDoYx/SK/dFGE9+dULz4/1uNEjUKRJ8Yi6ONH/mswSqNigcgycP9IGR5QTxIUR4kfW6IgW4ilAF0Ud/CSX3zBKNyK8ObTXaVxRhaJXeCKL/kfsRUcyWhMYoc3fS4hb83caz1k//FGXBIMGcbJWn3OmPz94PHnVnJJcB7ntAs1cF4WFrG7GHJkEGgI1PXve9TwD/K2RYPnR69Fh3TCWEyS9gTxY+w72ARwTZYqxjCXn6cswibBBSIrnmjkHs4jhxgI0hDUPfl+K+QCX5UCnckWqqChqqLWi2Az8SQE0kl0EOyAUDOimTMPzyl0ueBWQ3kW9OkdcYxz5ZReqD4JfbdZtoNCRMN9LPu35+BWq/8Mn5hqV5+zxezSQ+fo/VdMNXuz63QDAygap0a95O3CNRLtyKr/pORvk1pA3YDJtLdw69XcEiAjaMntHrt+n+MpIZHXP5hZunCzpoZdPsK52ifRGUQt0jFmMMiVM39fK6vly3haiUfacjp9eJXTuJDW6Novo=
  on:
    condition: $VALID_VERSION = true
    tags: true
    branch: master
